#payment-qr-codes-container {
  margin: 16px;
  #payment-qr-codes-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .qr-code-item {
      margin: 8px;
      max-width: 100%;
    }
  }
  #loading-wrapper {
    display: flex;
    justify-content: center;
    padding: 32px;
  }
}
