<div id="payment-qr-codes-container">
  <div id="payment-qr-codes-wrapper">
    @if (images$ | async; as images) {
      @for (image of images; track image) {
        <div class="qr-code-item">
          <img
            class="mat-elevation-z8 qr-code-item"
            [src]="staticUrl + 'img/trip/' + image.name"
            [alt]="image.name"
            /></div
            >
        }
      } @else {
        <div id="loading-wrapper">
          <mat-progress-spinner
            mode="indeterminate"
            strokeWidth="3"
            diameter="32"
          ></mat-progress-spinner>
        </div>
      }
    </div>
  </div>
