#payment-qr-codes-container {
  margin: 16px;
  #payment-qr-codes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .qr-code-item {
      margin-bottom: 16px;
      max-width: 100%;
    }
  }
  #loading-wrapper {
    display: flex;
    justify-content: center;
    padding: 32px;
  }
}
