<div class="item-container">
  <div class="image-container">
    <img [src]="url + 'img/packlist/' + pli.getImage()" />
  </div>

  <div class="text-container {{ pli.getBringClass() }}">
    <h2>
      <span class="pli-name" [innerHtml]="pli.getName() | titlecase"> </span>

      <span
        class="pli-remarks"
        [innerHtml]="pli.getRemarks() ? '(' + pli.getRemarks() + ')' : ''"
      >
      </span>

      <span
        class="pli-quantity"
        *ngIf="pli.getQuantity() > '1'"
        [innerHtml]="', ' + pli.getQuantity()"
      >
      </span>
    </h2>

    <div
      class="description-container"
      [innerHtml]="pli.getDescription() | markdown"
    ></div>

    <footer [innerHtml]="pli.getFooter() | markdown"></footer>
  </div>
</div>
