@let lang = language() ?? 'en';
<div class="item-container">
  <div class="image-container">
    <picture>
      <source [srcset]="imageBase + '.avif'" type="image/avif" />
      <source [srcset]="imageBase + '.webp'" type="image/webp" />
      <img loading="lazy" [src]="imageBase + '.png'" [alt]="pli.getName(lang)" />
    </picture>
  </div>
  <div class="text-container {{ pli.getBringClass() }}">
    <h2>
      <span class="pli-name" [innerHtml]="pli.getName(lang) | titlecase"> </span>
      @if (pli.getRemarks(lang)) {
        <span class="pli-remarks" [innerHtml]="'(' + pli.getRemarks(lang) + ')'"> </span>
      }
      @if (pli.getQuantity()) {
        <span class="pli-quantity" [innerHtml]="', ' + pli.getQuantity()"> </span>
      }
    </h2>
    @if (pli.getDescription(lang)) {
      <markdown class="description-container" [data]="pli.getDescription(lang)"></markdown>
    }
    @if (pli.getFooter(lang)) {
      <markdown [data]="pli.getFooter(lang)"></markdown>
    }
  </div>
</div>
