<ng-container *ngIf="needsLogin; else app">
  <app-login-required-message></app-login-required-message>
</ng-container>
<ng-template #app>
  <ng-container
    *ngIf="studentService.student$ | async as student; else loading"
  >
    <div class="app-page-wrapper mat-typography">
      <div class="app-content-wrapper">
        <div id="scroll-to-bottom-prompt" *ngIf="!student.waiverAccepted">
          <div
            [innerHtml]="'READ_AND_AGREE_TO_WAIVER_DETAILS' | translate"
          ></div>
        </div>
        <div id="waiver-page-container">
          <p *ngIf="student.waiverAccepted">
            {{ "WAIVER_SIGNED_ON" | translate }}
            <strong>{{ student.waiverSignedOn | date }}</strong>
          </p>
          <app-waiver-content></app-waiver-content>
          <app-payment-terms></app-payment-terms>
          <div
            id="waiver-form-container"
            *ngIf="waiverForm && !student.waiverAccepted"
          >
            <form [formGroup]="waiverForm" id="waiver-form">
              <mat-form-field appearance="outline">
                <mat-label>{{
                  auth.getCredentials()?.type !== 4
                    ? ("STUDENT_NAME" | translate)
                    : student.getAttributeLabel("name")
                }}</mat-label>
                <input type="text" matInput formControlName="name" required />
                <mat-error *ngIf="name?.errors?.required">
                  {{ "THIS_FIELD_IS_REQUIRED" | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                *ngIf="auth.getCredentials()?.type !== 4"
              >
                <mat-label>{{
                  student.getAttributeLabel("guardianName")
                }}</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="guardianName"
                  required
                />
                <mat-error *ngIf="guardianName?.errors?.required">
                  {{ "THIS_FIELD_IS_REQUIRED" | translate }}
                </mat-error>
              </mat-form-field>
              <mat-progress-bar
                mode="indeterminate"
                *ngIf="posting"
                class="progress-bar"
              ></mat-progress-bar>
              <button
                mat-raised-button
                [disabled]="!waiverForm.valid"
                color="primary"
                (click)="acceptWaiver()"
              >
                {{ "ACCEPT_WAIVER" | translate }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-loading-spinner-content></app-loading-spinner-content>
  </ng-template>
</ng-template>
