<div id="payment-uploaded-proof-container">
  <h1>{{ "PAYMENT_INSTRUCTIONS_4" | translate }}</h1>
  <div id="payment-uploaded-images-wrapper">
    <ng-container *ngIf="images$ | async as images; else loadingQrCodes">
      <div class="qr-code-item" *ngFor="let image of images">
        <img
          class="mat-elevation-z8 payment-proof-item"
          [src]="staticUrl + image.name"
          [alt]="image.name"
        /></div
    ></ng-container>
    <ng-template #loadingQrCodes>
      <div id="loading-wrapper">
        <mat-progress-spinner
          mode="indeterminate"
          strokeWidth="3"
          diameter="32"
        ></mat-progress-spinner>
      </div>
    </ng-template>
  </div>
</div>
