@import "~src/sass/mixins";

#payment-uploaded-proof-container {
  margin: 16px;
  #complete-payment-button-container {
    width: 100%;
    text-align: center;
  }
  .primary-action-button {
    @include active-elements-width;
  }
  #payment-uploaded-images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50vh;
    .payment-proof-item {
      margin-bottom: 8px;
      max-width: 100%;
    }
    #no-proof-uploaded {
      margin: 32px;
      height: 20vh;
      @include active-elements-width;
      background-color: white;
      border-radius: 16px;
      border: #ccc 3px dashed;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
    }
  }
}
