<div id="payment-uploaded-proof-container">
  <h1>{{ "PAYMENT_INSTRUCTIONS_4" | translate }}</h1>
  <div id="payment-uploaded-images-wrapper">
    <ng-container
      *ngIf="
        paymentService.paymentProof$ | async as images;
        else loadingQrCodes
      "
    >
      <ng-container *ngIf="images.length > 0; else noImages">
        <div class="payment-proof-item" *ngFor="let image of images">
          <img
            class="mat-elevation-z8 payment-proof-item"
            [src]="staticUrl + image.name"
            [alt]="image.name"
          />
        </div>
        <div id="complete-payment-button-container">
          <button
            mat-raised-button
            color="primary"
            (click)="navigateAway()"
            class="primary-action-button"
          >
            <mat-icon>upload</mat-icon> {{ "SUBMIT" | translate }}
          </button>
        </div>
      </ng-container>
      <ng-template #noImages>
        <div id="no-proof-uploaded" class="mat-elevation-z2">
          {{ "PAYMENT_INSTRUCTIONS_5" | translate }}
        </div>
      </ng-template>
    </ng-container>
    <ng-template #loadingQrCodes>
      <div id="loading-wrapper">
        <mat-progress-spinner
          mode="indeterminate"
          strokeWidth="3"
          diameter="32"
        ></mat-progress-spinner>
      </div>
    </ng-template>
  </div>
</div>
