<ng-container *ngIf="needsLogin; else app">
  <app-login-required-message></app-login-required-message>
</ng-container>
<ng-template #app>
  <ng-container *ngIf="activityGroups; else loading">
    <div class="app-page-wrapper">
      <div class="app-content-wrapper">
        <app-admin-banner></app-admin-banner>
        <mat-tab-group dynamicHeight id="itinerary-tabs" class="mat-typography">
          <mat-tab *ngFor="let ag of activityGroups" [label]="ag.name">
            <div class="tab-wrapper">
              <div
                *ngFor="let d of ag.getOrderedItineraryDates()"
                class="date-container"
              >
                <h3 class="date-header" matSubheader>
                  {{ d | date : "EEE, MMMM d " }}
                </h3>
                <hr />
                <div
                  class="itinerary-event-container"
                  *ngFor="let event of ag.getFormattedItinerary(d)"
                >
                  <div class="event-title">
                    {{ event.getFormattedTimes() }} {{ event.getName() }}
                  </div>
                  <div *ngIf="event.getNotes()" class="event-notes">
                    {{ event.getNotes() }}
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-loading-spinner-content></app-loading-spinner-content>
  </ng-template>
</ng-template>
