#itinerary-tabs {
  .tab-wrapper {
    margin: 16px;
    .date-container {
      .date-header {
        margin: 0 0 8px;
      }
      .itinerary-event-container {
        margin: 16px 0;
        .event-notes {
          color: #000000bb;
        }
      }
    }
  }
}
