<ng-container *ngIf="needsLogin; else app">
  <app-login-required-message></app-login-required-message>
</ng-container>
<ng-template #app>
  <ng-container *ngIf="itineraries$ | async as itineraries; else loading">
    <div class="app-page-wrapper">
      <div class="app-content-wrapper">
        <app-admin-banner></app-admin-banner>
        <ul class="itineraries-list mat-typography">
          <ng-container *ngFor="let itinerary of itineraries">
            <a
              [href]="url + 'files/' + itinerary.link"
              target="_blank"
              class="itinerary-item-wrapper"
            >
              <li class="itinerary-item">
                <div class="icon-container">
                  <img [src]="url + 'file-icons/48px/pdf.png'" alt="pdf icon" />
                </div>
                <div class="file-details">
                  <header class="file-name">
                    {{
                      lang.includes("zh")
                        ? itinerary.name_zh
                        : itinerary.name_en
                    }}
                  </header>
                </div>
              </li>
            </a>
          </ng-container>
        </ul>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-loading-spinner-content></app-loading-spinner-content>
  </ng-template>
</ng-template>
