@use "@angular/material" as mat;

@mixin alert-dialog($color: rgba(255, 255, 10, 0.3), $elevation: 8) {
  @include mat.elevation($elevation);
  margin: 16px;
  padding: 16px;
  text-align: center;
  background-color: $color;
}

@mixin navigation-links {
  a,
  button {
    font-size: 1rem;
    color: #2a872c;
    cursor: pointer;
    text-decoration: underline;
    border: none;
    background: none;
    padding: 0;
  }
}
