@use "@angular/material" as mat;

@mixin alert-dialog($color: rgba(255, 255, 10, 0.3), $elevation: 8) {
  @include mat.elevation($elevation);
  margin: 16px;
  padding: 16px;
  text-align: center;
  background-color: $color;
}

@mixin navigation-links {
  a,
  button {
    font-size: 1rem;
    color: #2a872c;
    cursor: pointer;
    text-decoration: underline;
    border: none;
    background: none;
    padding: 0;
  }
}

// Give some elements a base width that decreases as screen size increases.
@mixin active-elements-width {
  width: 100%;
  @media screen and (min-width: 900px) {
    width: 90%;
  }
  @media screen and (min-width: 1300px) {
    width: 80%;
  }
  @media screen and (min-width: 1500px) {
    width: 70%;
  }
  @media screen and (min-width: 1700px) {
    width: 60%;
  }
  @media screen and (min-width: 1900px) {
    width: 50%;
  }
}
