<ng-container *ngIf="!validating; else val">
  <div id="reset-password-form-container">
    <mat-card appearance="outlined" id="reset-password-form-mat-card-container">
      <mat-card-content>
        <ng-container *ngIf="isTokenValid; else tokenInvalid">
          <form
            id="reset-password-form"
            [formGroup]="passwordResetForm"
            (submit)="submit()"
            *ngIf="passwordResetForm"
          >
            <h2>{{ "ENTER_NEW_PASSWORD" | translate }}</h2>
            <p
              *ngIf="userData && userData.username && userData.email"
              [innerHtml]="
                'RESETTING_PASSWORD_FOR_USER_WITH_EMAIL'
                  | translate
                    : { username: userData.username, email: userData.email }
              "
            ></p>
            <mat-form-field appearance="outline">
              <mat-label>{{ "NEW_PASSWORD" | translate }}</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
                required
              />
              <mat-error *ngIf="password?.errors?.required">
                {{ "THIS_FIELD_IS_REQUIRED" | translate }}
              </mat-error>
              <mat-error *ngIf="password?.errors?.minlength">
                {{ "MIN_LENGTH_8_CHAR" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{ "NEW_PASSWORD_CONFIRM" | translate }}</mat-label>
              <input
                type="password"
                matInput
                formControlName="passwordConfirm"
                required
                [errorStateMatcher]="errorMatcher"
              />
              <mat-error *ngIf="passwordResetForm.errors?.passwordMismatch">
                {{ "PASSWORDS_DO_NOT_MATCH" | translate }}
              </mat-error>
              <mat-error *ngIf="passwordConfirm?.errors?.required">
                {{ "THIS_FIELD_IS_REQUIRED" | translate }}
              </mat-error>
              <mat-error *ngIf="passwordConfirm?.errors?.minlength">
                {{ "MIN_LENGTH_8_CHAR" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-progress-bar
              mode="indeterminate"
              *ngIf="loading"
              class="progress-bar"
            ></mat-progress-bar>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!passwordResetForm.valid || loading"
            >
              {{ "SEND" | translate }}
            </button>
          </form>
        </ng-container>
        <ng-template #tokenInvalid>
          <div id="token-invalid-notification">
            <ng-container *ngIf="accountNotFound; else invalidToken">
              <h1>{{ "NO_ACCOUNT_FOUND_FOR_TOKEN" | translate }}</h1>
              <div [innerHTML]="'TOKEN_MATCH_NO_USER' | translate"></div>
            </ng-container>
            <ng-template #invalidToken>
              <h1>{{ "INVALID_TOKEN" | translate }}</h1>
              <div
                [innerHTML]="'INVALID_TOKEN_REQUEST_NEW_ONE' | translate"
              ></div>
            </ng-template>
            <button
              mat-raised-button
              routerLink="/forgot-password"
              color="primary"
            >
              {{ "REQUEST" | translate }}
            </button>
          </div>
        </ng-template>
        <div class="navigation-links">
          <a routerLink="/login">{{ "LOGIN" | translate }}</a> /
          <a routerLink="/trip-codes">{{ "REGISTER" | translate }}</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
<ng-template #val>
  <app-loading-spinner-content
    message="VALIDATING_TOKEN"
  ></app-loading-spinner-content>
</ng-template>
