@if (needsLogin) {
  <app-login-required-message></app-login-required-message>
} @else {
  @if (supplier$ | async; as suppliers) {
    <div class="app-page-wrapper">
      <div class="app-content-wrapper">
        <app-admin-banner></app-admin-banner>
        <div class="accommodation-page-container">
          @if (suppliers.length) {
            @for (supplier of suppliers; track supplier) {
              <div>
                <app-supplier-item [supplier]="supplier"></app-supplier-item>
              </div>
            }
          } @else {
            <app-no-results></app-no-results>
          }
        </div>
      </div>
    </div>
  } @else {
    <app-loading-spinner-content></app-loading-spinner-content>
  }
}
