.full-page-loading-container {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-message {
  margin-top: 16px;
}
