.full-page-loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-spinner {
    transform: translateY(-100px);
  }

  div {
    transform: translateY(-70px);
  }
}
