<div id="password-recovery-form-container">
  <mat-card id="password-recovery-form-mat-card-container">
    <h2>{{ "RECOVER_PASSWORD" | translate }}</h2>
    <p>{{ "ENTER_EMAIL_RECOVER_PASSWORD" | translate }}</p>
    <form
      [formGroup]="passwordRecoveryForm"
      (ngSubmit)="submit()"
      id="password-recovery-form"
    >
      <mat-form-field appearance="outline">
        <mat-label>{{ "EMAIL" | translate }}</mat-label>
        <input matInput formControlName="email" required type="text" />
      </mat-form-field>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="loading"
        class="progress-bar"
      ></mat-progress-bar>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!passwordRecoveryForm.valid || loading"
      >
        {{ "SEND" | translate }}
      </button>
    </form>
    <div class="navigation-links">
      <a routerLink="/trip-codes">{{ "REGISTER" | translate }}</a> /
      <a routerLink="/login">{{ "LOGIN" | translate }}</a>
    </div>
  </mat-card>
</div>
