@import "~src/sass/mixins";

#password-recovery-form-container {
  position: fixed;
  top: 56px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: top 24px right 16px / 150px no-repeat
      url(https://static.keystone-adventures.com/img/kalogo.png),
    center / cover no-repeat
      url(https://static.keystone-adventures.com/img/portal/bg/f/FM54269YGLNS.png);
  @media screen and (min-width: 960px) {
    left: 320px;
  }
  // @media screen and (min-width: 1200px) { padding: 10% 320px 10% 16px; }
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
#password-recovery-form-mat-card-container {
  background-color: rgba(255, 255, 255, 0.93);
  width: 90%;
  @media screen and (min-width: 1300px) {
    width: 80%;
  }
  @media screen and (min-width: 1400px) {
    width: 70%;
  }
  @media screen and (min-width: 1500px) {
    width: 60%;
  }
  @media screen and (min-width: 1700px) {
    width: 50%;
  }
  @media screen and (min-width: 1900px) {
    width: 40%;
  }
}

form#password-recovery-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  .progress-bar {
    margin-bottom: 16px;
  }
}

.navigation-links {
  margin-top: 16px;
  text-align: center;
  @include navigation-links;
}
