.chart-container {
  box-sizing: border-box;
  overflow: hidden;
  padding: 16px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .chart-title {
    text-align: center;
  }
}
