.supplier-item-container {
  margin: 16px;
  .supplier-card-header {
    background-color: #efefef;
    padding: 8px 16px;
  }

  .supplier-card-content {
    padding: 16px;
    .supplier-address {
      margin-bottom: 16px;
    }
  }

  .supplier-item-contact-actions {
    .supplier-action {
      height: 100px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .supplier-item-phone-number,
    .supplier-item-c-trip-link {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      flex: 1 1 0px;
      min-width: 320px;
      margin-bottom: 16px;
      a {
        line-height: 2rem;
        padding: 8px 16px;
      }
    }
    .supplier-item-phone-number a mat-icon {
      margin-right: 8px;
    }
    .supplier-item-c-trip-link {
      img.c-trip-logo {
        max-width: 150px;
        padding: 4px;
      }
    }
  }
}
