<div class="supplier-item-container">
  <mat-card appearance="outlined">
    <mat-card-header class="supplier-card-header">
      <mat-card-title>
        <h4>
          {{
            lang === "en"
              ? supplier.name + " (" + supplier.nameZh + ")"
              : supplier.nameZh + " (" + supplier.name + ")"
          }}
        </h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="supplier-card-content">
      <div [innerText]="supplier.addressZh" class="supplier-address"></div>
      <div class="supplier-item-contact-actions">
        <a
          href="tel:{{ supplier.phone }}"
          mat-raised-button
          class="supplier-action"
          *ngIf="supplier.phone"
        >
          <div class="supplier-item-phone-number">
            <div>{{ "CALL" | translate }}</div>
            <mat-icon class="mat-18">phone</mat-icon>
            <span [innerText]="supplier.phone"></span></div
        ></a>
        <a
          [href]="supplier.cTripUrl"
          mat-raised-button
          class="supplier-action"
          *ngIf="supplier.cTripUrl"
        >
          <div class="supplier-item-c-trip-link">
            <div>{{ "CLICK_HERE_FOR_MORE_INFORMATION" | translate }}</div>
            <img
              class="c-trip-logo mat-elevation-z1"
              [src]="url + 'img/portal/c-trip-logo-zh.png'"
              alt=""
            /></div
        ></a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
