.supplier-item-container {
  margin: 8px;
  .supplier-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    .supplier-item-name {
      display: flex;
      justify-content: space-between;
    }
    .supplier-item-details,
    .supplier-item-c-trip-link {
      flex: 1 1 0px;
      min-width: 320px;
    }
    .supplier-item-c-trip-link {
      display: flex;
      justify-content: center;
      align-items: center;
      img.c-trip-logo {
        width: 150px;
      }
    }
  }
}
