.supplier-item-container {
  margin: 16px;
}

.supplier-item-description {
  margin: 16px 0;
}

.supplier-item-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .supplier-item-image-container {
    width: 250px;
    height: 250px;
    margin: 0 16px 16px 0;
    overflow: hidden;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    .supplier-item-image {
      height: 100%;
      width: 100%;
    }
  }
}
