<div id="waiver-text">
  <div id="waiver-text-en" *ngIf="!translate.currentLang.includes('zh')">
    <h1>Acknowledgement of Hazard / Assumption of Risk / Liability Waiver</h1>
    <h2>Assumption of Risk:</h2>
    I, the undersigned, acknowledge and agree that observing or participating in
    the activities sponsored and or offered by Keystone Adventures has inherent
    risks. These risks include but are not limited to:
    <ul>
      <li>Mundane risks such as illness</li>
      <li>
        Risks associated with transportation, including travel by bus and by
        airplane
      </li>
      <li>Trekking injuries such as cuts, strains, fractures, etc.</li>
      <li>
        High-ropes activities risks such as injuries resulting from falling
        climbers, dropped items, or falling rock; cuts and abrasions resulting
        from skin contact with the climbing surface or any other surfaces
      </li>
      <li>
        Cycling risks such as falling off one’s bike, contact with another
        cyclist or vehicle
      </li>
      <li>Risks associated with water activities, including drowning</li>
      <li>
        Failure to follow Keystone Adventures instructions or failure to ask for
        information
      </li>
    </ul>
    <p>
      Your participation is accepted with the understanding that you realize and
      accept the risks and hazards potentially involved in adventure activities
      and that you acknowledge that you are mentally and physically capable of
      undertaking this program. You are responsible for bringing with you the
      proper clothing and equipment, which we will advise you about prior to the
      program.
    </p>
    <p>
      Keystone Adventures is liable for the negligence of its employees and
      suppliers when they are acting in the scope of their employment or in the
      provision of the travel arrangements. The company is NOT liable for any
      failures that occur in the performance of the travel arrangements which
      are attributable to participants, or attributable to a third party
      unconnected with the provision of the services and unforeseeable or
      unavoidable, or are due to unusual and unforeseeable circumstances beyond
      the control of the company which could not have been avoided even if all
      due care had been exercised.
    </p>
    <h2>Agreement to follow Keystone Adventures safety policies:</h2>
    <p>
      Signing this form signifies your agreement to abide by the authority of
      the activity leaders, who represent Keystone Adventures. The decision of
      the leaders as to the conduct, itinerary and objectives of the program is
      final. If, in the opinion of the leaders, your behavior or physical
      condition is detrimental to the safety, welfare and well-being of the
      group as a whole (which are the paramount considerations), or if the
      leader considers your general well-being will be put at risk by continuing
      with the program, you may be asked to leave the program without the right
      to any refund for unused services.
    </p>
    <p>
      When you book with us, you accept responsibility for any damage or loss
      caused by you. Full payment for any such damage or loss must be paid
      directly at the time to us, the accommodation owner, or other supplier. If
      you fail to do so, you will be responsible for meeting any claims
      subsequently made against us (together with our own and the other party's
      full legal costs) as a result of your actions.
    </p>
    <p>
      We expect all clients to have consideration for other people. If in our,
      or another person’s reasonable opinion, you or any member of your party
      behaves in such a way as to cause or be likely to cause danger, upset or
      distress to any third party or damage to property, we are entitled,
      without prior notice, to terminate the participation of the person(s)
      concerned. In this situation, the person(s) concerned will be required to
      leave the accommodation or other service. No refunds will be made and we
      will not pay any expenses or costs incurred as a result of the
      termination.
    </p>
    <h2>Personal Injury where Keystone Adventures is NOT at fault</h2>
    <p>
      If you, or any member of your party, suffer death, illness or injury
      whilst overseas arising out of an activity which does not form part of
      your package travel arrangements or an excursion arranged through us, we
      shall at our discretion, offer advice, guidance and assistance. Where
      legal action is contemplated and you want our assistance, you must obtain
      our written consent prior to commencement of proceedings.
    </p>
    <h2>Medical Conditions</h2>
    <p>
      If you have any medical problem or disability which may affect
      participation in Keystone Adventures activities, please tell us before you
      confirm your booking so that we can advise as to the suitability of the
      chosen arrangements. If full details are not given at the time of booking
      and we become aware of these details, we may terminate/curtail the
      involvement of the person concerned at any time. No refunds will be made
      and we will not pay any expenses or costs incurred as a result of the
      termination.
    </p>
    <h2>
      Adequate Insurance Cover / Personal Injury Connected With Keystone
      Adventures Itinerary
    </h2>
    <p>
      Keystone Adventures is typically contracted by the school to provide
      adequate cover for medical expenses, personal injury and death, and local
      transportation. If so, we ensure that insurance covers all activities,
      such as for trekking, cycling, kayaking, and high ropes activities, as
      applicable. Of course, these policies do NOT cover against loss of baggage
      and loss/theft/damage to personal property, and curtailment or
      cancellation of trip, and participants may consider taking out additional
      coverage.
    </p>
    <p>
      Due to the medical/insurance situation in China, patients are required to
      pay medical providers in advance for any and all medical treatment. If any
      participants require medical attention for any reason during a Keystone
      Adventures trip, the client school should be prepared to facilitate
      payment of medical services and submit an insurance claim where
      applicable. Keystone Adventures is not responsible for up-front medical
      costs of participants regardless of its role in arranging insurance for
      participants.
    </p>
    <h2>Conditions of Suppliers</h2>
    <p>
      Some of the services which make up your program are provided by
      independent suppliers, such as restaurants, transportation companies,
      hotels, etc. Those suppliers provide these services in accordance with
      their own terms and conditions. Some of these terms and conditions may
      limit or exclude the supplier's liability to you, usually in accordance
      with applicable international conventions.
    </p>
    <h2>Passports and Visas</h2>
    <p>
      In accordance with Chinese law, all participants MUST bring a passport
      (with valid visa, if applicable) or other legal form of ID with them on
      this program. Your specific passport and visa requirements, and other
      immigration requirements are your responsibility and you should confirm
      these with the relevant Embassies and/or Consulates. We do not accept any
      responsibility if participants cannot travel because they have not
      complied with any passport, visa or immigration requirements.
    </p>
    <h2>Complaints</h2>
    <p>
      If you have cause for complaint while participating in Keystone Adventures
      activities you must bring it to the attention of our local
      representative/activity leaders/or the hotel, who will do their best to
      rectify the situation. Should a problem remain unresolved, a complaint
      should be made in writing within 7 days of the completion of the holiday.
    </p>
    <h2>Release and indemnification:</h2>
    <p>
      I hereby release and discharge Keystone Adventures, its owners,
      affiliates, agents, employees, volunteers, and landlords, and their
      successors and assigns, from any and all liabilities, suits, claims, and
      demand actions or damages (including attorney fees and disbursements)
      incurred by me arising out of participating in Keystone Adventures
      activities, including without limitation all claims for personal injuries
      or wrongful death, EXCEPT in the event of demonstrable negligence on the
      part of Keystone Adventures. This release is binding on my heirs, assigns,
      and agents.
    </p>
    <p>
      I am executing this release and waiver of liability freely and
      voluntarily. I acknowledge that I have read this entire liability waiver
      prior to signing it. Intending to be legally bound, I hereby signed this
      Liability Waiver:
    </p>
  </div>

  <div id="waiver-text-zh" *ngIf="translate.currentLang.includes('zh')">
    <h1>风险告知及免责声明</h1>
    <h2>风险告知</h2>
    <p>
      本人（签署如下）知晓并同意，在参与或旁观由<em>卡赛探险</em>发起与/或提供的活动过程中可能存在潜在风险，这些风险包括但不限于：
    </p>
    <ul>
      <li><p>常见风险，例如生病</p></li>
      <li><p>与交通运输相关的风险，包括乘坐公共汽车和飞机旅行</p></li>
      <li><p>徒步风险，如割伤，拉伤，骨折等</p></li>
      <li>
        <p>
          高空绳索项目风险，例如攀岩者滑坠、高空坠物、或岩块滚落造成的伤害;
          攀爬过程中皮肤与岩石碰触造成的割伤和擦伤
        </p>
      </li>
      <li>
        <p>自行车骑行风险，例如从自行车跌落，与其他自行车或汽车发生擦挂</p>
      </li>
      <li><p>与水上运动相关的风险，包括溺水</p></li>
      <li>
        <p>
          不遵守<em>卡赛探险</em>的指导或未曾向<em>卡赛探险</em>获取相关信息
        </p>
      </li>
    </ul>
    <p>
      只有在您已知晓并接受探险活动中可能涉及的风险和危险，并且您已确认您在精神上和身体上都有能力执行此项目的情况下，您的预订/参与才会被接纳生效。
      本公司会在项目开始之前会给你打包建议，但您需自行负责携带合适的衣物和装备。
      <em>卡赛探险</em
      >对其员工和供应商在其工作范围内或提供旅行安排时的疏忽负责。
      对因活动参与者造成的旅行安排失误，对因与服务条约无关的第三方造成的且不可预见或不可避免的情况、或超出公司可控范围、即便倾尽全力也无法避免的异常和不可预见的情况，公司概不负责。
    </p>
    <h2>同意遵守<em>卡赛探险</em>的安全政策：</h2>
    <p>
      签署我们的预订表格即表示您已同意服从领队教练的权威性，教练们代表着<em>卡赛探险</em>公司。
      领队对该项目的管理执行、行程计划和活动目标都有最终决定权。如果领队认为：您的行为或身体状况不利于整个团队的安全、利益和健康（这是最重要的考虑因素），或者如果领队认为若您继续参加行程会对您的整体健康状况不利，可能会要求您退出行程，您不能对未使用的服务项目申请退款。
    </p>
    <p>
      当您报名本公司项目时，您已经同意对因您本人造成的任何损害或损失承担责任。对您造成任何损坏或损失的全款赔付，必须在现场及时直接支付给本公司、或酒店老板或其他供应商。
      若您未能如约支付，您将负责承担后续责任，您将对由于您的行为而导致的向我公司提出的任何索赔负责（连同我们自己和其他第三方的全部法律费用）。
    </p>
    <p>
      本公司希望所有客户都能顾及他人。
      如果在我们或其他人的合理意见中，认为您或您的同伴的行为会导致或可能给任何第三方的人员带来危险、不安、困扰或财产损失，我们有权在没有事先通知的情况下，终止当事人继续参与行程。
      在这种情况下，当事人将被要求离开住所或其他项目。
      本公司不会退款，也不会支付因终止而产生的任何费用或开支。
    </p>
    <h2>非<em>卡赛探险</em>公司原因导致的人员伤亡</h2>
    <p>
      若您或您的同伴，在我司组织安排的活动行程或我司提供的服务项目之外，在境外遭遇意外伤害、疾病或身亡，我司将决定提供建议、指导和援助。
      如果您考虑采取法律行动并希望得到我们的协助，您必须在诉讼程序启动前获得我们的书面同意。
    </p>
    <h2>医疗条件</h2>
    <p>
      如果您有任何可能影响参与<em>卡赛探险</em>活动的医疗问题或残障，请在报名确认之前告之我公司，以便我们就您所选的项目提出适用性建议。
      若未在报名登记时提供详细信息，当我司了解详情之后，我司可能随时终止/减少当事人的项目参与程度。
      我公司不会为此退款，也不会支付因终止而产生的任何费用或开支。
    </p>
    <h2>与<em>卡赛探险</em>行程相关的全面保险/人身保障</h2>
    <p>
      所有参与者必须已购买个人人身保险，该保单应提供足够全面的保障，覆盖行程中相关的所有户外项目，例如徒步、自行车骑行、皮划艇和高空绳索攀岩等，为医疗费用、人身伤害或意外死亡提供足够的保险赔偿。<em>卡赛探险</em>可能会为部分/全部的参与者提供此类保险，但此保险不负责报销行李丢失、个人财产的遗失/被盗/损坏，以及缩减或取消项目计划。
    </p>
    <p>
      根据中国的医疗/保险状况，患者需要提前向医疗服务提供者支付全部的医疗费用。
      如果任何参与者在<em>卡赛探险</em>的项目中因任何原因需要医疗照顾，参与者（或代理监护人）有责任自行支付并配合医疗服务，并在适用的情况下提交保险索赔。
      无论参与者的个人保险是否由<em>卡赛探险</em>购买，<em>卡赛探险</em>不负责提前预付参与者的医疗费用。
      参与者/监护人应保留尽可能详尽的就诊资料以方便索赔。
    </p>
    <h2>供应商条件</h2>
    <p>
      您的项目安排中有一些服务是由独立供应商提供的，例如餐厅、交通运输公司、酒店等。该类供应商会根据其自身的条款和条件提供服务。
      其中一些条款和条件可能会限制或免除供应商对您的责任，通常是一些普适性的国际惯例。
    </p>
    <h2>护照及签证</h2>
    <p>
      根据中国法律，所有参与者必须随身携带护照（持有效签证，视情况而定）或其他合法身份证件。您应该向相关的大使馆和/或领事馆确认，您自行负责遵守具体的护照和签证要求以及其他移民入境要求。
      如参加者因未遵守护照、签证或移民入境的任何要求而无法旅行，我公司不承担任何责任。
    </p>
    <h2>投诉</h2>
    <p>
      若您在参加<em>卡赛探险</em>的活动过程中需要投诉，您应及时向我公司的当地代表/活动领队/或酒店提出投诉，他们将尽力为您解决问题。
      如果问题仍未解决，应在行程结束后7天内以书面形式提出投诉。
    </p>
    <h2>解除和免除</h2>
    <p>
      本人特此解除和免除<em>卡赛探险</em>，及其负责人、附属机构、代理人、员工、志愿者、及其房东、继承人和受让人，在参与<em>卡赛探险</em>的活动或装备租赁的过程中由我本人产生的一切法律责任、诉讼、索赔、索求或损失赔偿（包括律师费用和报销），包括但不限于所有人身伤害或非法死亡的索赔，除非<em>卡赛探险</em>存在明显疏忽。
      该免责声明对本人的继承者、受让人和代理人具有同等法律约束力。
    </p>
    <p>
      本人自愿签署此免责声明。本人承认在签署之前已经完整仔细阅读了该免责声明书的所有条款。本人签署了此《风险告知及免责声明》，同意遵守以上条款。
    </p>
  </div>
</div>
