@use "../../../../sass/mixins" as mixins;

#add-participant-info-to-payment-reminder-title {
  @include mixins.alert-dialog;
  margin: -24px 0 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-participant-info-to-payment-reminder-content {
  font-weight: bold;
  #img-wrapper {
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
}

#add-participant-info-to-payment-reminder-actions {
  #dismiss-reminder-button {
    width: 100%;
  }
}
