<ng-container *ngIf="content$ | async as content; else loading">
  <div class="app-page-wrapper material-typography">
    <div class="app-content-wrapper">
      <div id="agree-to-terms-prompt">
        <h2 [innerHtml]="'READ_AND_AGREE_TO_TERMS' | translate"></h2>
        <div [innerHtml]="'READ_AND_AGREE_TO_TERMS_DETAILS' | translate"></div>
      </div>
      <div id="payment-terms-wrapper">
        <div
          id="payment-terms"
          [innerHTML]="
            (lang === 'zh' ? content.text_zh : content.text) | markdown
          "
        ></div>
        <section
          id="accept-terms-form-container"
          *ngIf="!paymentService.getPaymentInfo()?.termsAccepted"
        >
          <ng-container *ngIf="!sending; else sendingPost">
            <button mat-raised-button (click)="acceptTerms()" color="primary">
              {{ "I_AGREE_TO_TERMS_BUTTON_LABEL" | translate }}
            </button>
          </ng-container>
          <ng-template #sendingPost>
            <mat-progress-spinner
              mode="indeterminate"
              diameter="30"
              strokeWidth="3"
            ></mat-progress-spinner>
          </ng-template>
        </section>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <app-loading-spinner-content></app-loading-spinner-content>
</ng-template>
