@use "../../../../sass/mixins" as mixins;

#payment-terms-wrapper {
  margin: 16px;
  margin-bottom: 25vh;
  #accept-terms-form-container {
    display: flex;
    justify-content: center;
    font-size: larger;
    button {
      width: 100%;
    }
  }
}

#agree-to-terms-prompt {
  @include mixins.alert-dialog;
}
