@use "../../../sass/mixins" as mixins;

#login-form-mat-card-container {
  background-color: rgba(255, 255, 255, 0.93);
  width: 90%;
  @media screen and (min-width: 1300px) {
    width: 80%;
  }
  @media screen and (min-width: 1400px) {
    width: 70%;
  }
  @media screen and (min-width: 1500px) {
    width: 60%;
  }
  @media screen and (min-width: 1700px) {
    width: 50%;
  }
  @media screen and (min-width: 1900px) {
    width: 40%;
  }

  #login-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    #login-form-header-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 84px;
      border: 1px black solid;
      border-radius: 50%;
      padding: 8px;
      margin: 16px 0;
    }
    #login-form-header-text-container {
      width: 100%;
      display: flex;
      align-items: center;
      .login-form-header-sidelines {
        padding: 8px;
        flex-grow: 1;
      }
      #login-form-header-text {
        font-size: 32px;
      }
    }
  }

  #forgot-password-link-container {
    display: flex;
    justify-content: flex-end;
    @include mixins.navigation-links;
    margin-bottom: 48px;
  }
}

#register-first-warning {
  @include mixins.alert-dialog;
  margin: 0 0 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-icon {
    margin-right: 16px;
  }
}

form#login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  mat-form-field:first-child {
    margin-bottom: 16px;
  }

  .progress-bar {
    margin-bottom: 16px;
  }
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  @include mixins.navigation-links;
  #need-account-hint {
    margin-right: 8px;
  }
}
