.sidenav {
  width: 320px;
  .disabled-link {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #ddd;
  }
}
$toolbarBackgroundGrey: rgb(190, 190, 190);
#main-header {
  background-color: #e6e6e6;
  #toggle-sidenav-button {
    mat-icon {
      color: #fff;
    }
    background-color: rgb(35, 114, 32);
  }
  justify-content: space-between;
  #main-header-logo {
    height: 52px;
  }
}
$toolbarSpacerMargin: 8px;
#main-header.mat-toolbar {
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  #toggle-sidenav-button {
    margin-right: $toolbarSpacerMargin;
  }
  .help-button {
    color: #ccc;
    background-color: #333;
  }
}

#main-header-logo {
  max-height: 52px;
  max-width: 40%;
  @media screen and (min-width: 400px) {
    max-width: 50%;
  }
  @media screen and (min-width: 500px) {
    max-width: 60%;
  }
  @media screen and (min-width: 600px) {
    max-width: 100%;
  }
}

.mat-drawer-content {
  min-height: -webkit-fill-available;
}

$localRed: #730012;

.toolbar-spacer {
  // Take up all available space in the center.
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  padding: 0 8px;
}
#content-trip-name-wrapper {
  background-color: #d8d6d6;
  padding: 8px;
  display: flex;
  justify-content: center;
}
.trip-name-wrapper {
  background-color: #d8d6d6;
  padding: 4px;
  border: 1px solid $localRed;
  color: $localRed;
  white-space: wrap;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
