<!--App Component HTML file. App bar and sidebar menu, render router outlet on the rest -->
<mat-toolbar id="main-header" color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <!-- <span>{{ title }}</span> -->
  <img
    id="main-header-logo"
    src="../assets/img/ka-logo-long.jpeg"
    alt="{{ title }}"
  />
  <span class="toolbar-spacer"></span>
  <button
    type="button"
    mat-raised-button
    class="help-button"
    aria-label="Display help"
    routerLink="help"
  >
    {{ "HELP" | translate | uppercase }}
    <mat-icon aria-label="Help toggle icon" color="primary">help</mat-icon>
  </button>

  <!-- Log in/out buttons -->
  <button
    type="button"
    *ngIf="auth.auth$ | async; else login"
    aria-label="Log out"
    mat-icon-button
    (click)="logout()"
    title="{{ 'LOGOUT' | translate | uppercase }} ({{
      auth.getCredentials()?.userName
    }})"
  >
    <mat-icon aria-label="Logout icon">open_in_new</mat-icon>
  </button>
  <ng-template #login>
    <button
      type="button"
      aria-label="Log in"
      mat-icon-button
      routerLink="/login"
      [title]="'LOGIN' | translate | uppercase"
    >
      <mat-icon aria-label="Logout icon">exit_to_app</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    fixedTopGap="64"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <ng-container *ngFor="let page of appPages; last as last">
        <a
          mat-list-item
          [routerLink]="
            page.url +
            ((tripId$ | async) === null ? '' : '/' + (tripId$ | async))
          "
          *ngIf="page.render | async"
        >
          <mat-icon matListIcon color="primary">{{ page.icon }}</mat-icon>
          <p matLine>{{ page.title | translate | uppercase }}</p>
          <mat-divider [inset]="true"></mat-divider>
        </a>
      </ng-container>

      <!-- This links should only be available for teachers -->
      <ng-container
        *ngIf="(auth.auth$ | async) && auth.getCredentials()?.type === 4"
      >
        <h3 matSubheader>{{ "TEACHER_AREA" | translate | uppercase }}</h3>
        <a
          mat-list-item
          [routerLink]="
            page.url +
            ((tripId$ | async) === null ? '' : '/' + (tripId$ | async))
          "
          *ngFor="let page of teacherPages; last as last"
        >
          <mat-icon matListIcon color="primary">{{ page.icon }}</mat-icon>
          <p matLine>{{ page.title | translate | uppercase }}</p>
          <mat-divider [inset]="true"></mat-divider>
        </a>
      </ng-container>

      <!-- Policy pages -->
      <h3 matSubheader>{{ "POLICY" | translate | uppercase }}</h3>
      <ng-container *ngFor="let page of policyPages; last as last">
        <a
          mat-list-item
          [routerLink]="
            page.url +
            ((tripId$ | async) === null ? '' : '/' + (tripId$ | async))
          "
          *ngIf="page.render | async"
        >
          <mat-icon matListIcon color="primary">{{ page.icon }}</mat-icon>
          <p matLine>{{ page.title | translate | uppercase }}</p>
          <mat-divider [inset]="true"></mat-divider>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-container
      *ngIf="(auth.auth$ | async) && auth.getCredentials()?.type === 8"
    >
      <app-admin-banner></app-admin-banner>
    </ng-container>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
