.sidenav-container {
  height: 100%;
}

.sidenav {
  width: fit-content;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#main-header {
  z-index: 2;
}
