.sidenav {
  width: 320px;
}

#main-header.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  .help-button {
    color: #ccc;
    background-color: #333;
  }
}

#main-header-logo {
  height: 52px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-drawer-content {
  min-height: -webkit-fill-available;
}
