@let baseUrl = url;
@let lang = language() ?? 'en';

@if (isLoading()) {
  <app-loading-spinner-content></app-loading-spinner-content>
} @else {
  <div class="app-page-wrapper">
    <div class="app-content-wrapper">
      @if (isStaffingConfirmed) {
        <ul class="guides-list mat-typography">
          @for (guide of guides(); track guide.id) {
            <li class="guide-item">
              <div class="avatar-container">
                <img [src]="`${baseUrl}img/users/${guide.avatar}`" alt="" />
              </div>
              <div class="guide-details">
                <header class="guide-nickname">
                  {{ guide.getName(lang) }}
                </header>
                <div class="guide-bio" [innerHtml]="guide.getBio(lang)"></div>
              </div>
            </li>
          }
        </ul>
      } @else {
        <div id="staffing-not-confirmed-container">
          <mat-card>
            <img
              matCardImage
              [src]="`${baseUrl}img/portal/ka-staff-2023.jpg`"
              alt="Staff's Avatar"
            />
            <mat-card-content
              ><mat-card-subtitle id="staffing-not-confirmed-subtitle">{{
                'STAFFING_NOT_YET_CONFIRMED' | translate
              }}</mat-card-subtitle></mat-card-content
            >
          </mat-card>
        </div>
      }
    </div>
  </div>
}
