@use "../../../sass/mixins" as mixins;

#registration-form-container {
  overflow: scroll;
  position: fixed;
  top: 56px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background:
    top 24px right 16px / 150px no-repeat
      url(https://static.keystone-adventures.com/img/kalogo.png),
    center / cover no-repeat
      url(https://static.keystone-adventures.com/img/portal/bg/f/FM54269YGLNS.jpg);
  @media screen and (min-width: 960px) {
    left: 320px;
  }
}

#registration-form-mat-card-container {
  background-color: rgba(255, 255, 255, 0.93);
  width: 90%;
  overflow: scroll;
  @media screen and (min-width: 900px) {
    width: 80%;
  }
  @media screen and (min-width: 1500px) {
    width: 70%;
  }
  @media screen and (min-width: 1700px) {
    width: 60%;
  }
  @media screen and (min-width: 1900px) {
    width: 50%;
  }
  h1,
  h2 {
    text-align: center;
  }
}

form#registration-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  mat-form-field {
    margin: 8px 0;
  }
  .progress-bar {
    margin-bottom: 16px;
  }
  .inner-form-prompt {
    @include mixins.alert-dialog;
    margin-top: 0px;
    /* Fix <p> elements margin adding to padding resulting in too much space */
    &::ng-deep {
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
    text-align: left;
  }
}

.navigation-links {
  margin-top: 16px;
  text-align: center;
  @include mixins.navigation-links;
}
