<div id="registration-form-container" *ngIf="userRegistrationForm">
  <mat-card appearance="outlined" id="registration-form-mat-card-container">
    <mat-card-content>
      <h1>{{ "REGISTRATION_INFORMATION" | translate }}</h1>
      <h2 class="trip-name" *ngIf="trip.name">{{ trip.name }}</h2>
      <form
        [formGroup]="userRegistrationForm"
        id="registration-form"
        (ngSubmit)="submitUserRegistration()"
      >
        <div
          class="inner-form-prompt"
          *ngIf="namePromptContent$ | async as content"
          [innerHtml]="
            (lang === 'zh' ? content.text_zh : content.text) | markdown
          "
        ></div>
        <mat-form-field appearance="outline">
          <mat-label>{{ "NAME" | translate }}</mat-label>
          <input type="text" matInput formControlName="name" required />
          <mat-error *ngIf="name?.errors?.required">
            {{ "THIS_FIELD_IS_REQUIRED" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "DOB" | translate }}</mat-label>
          <input
            type="text"
            matInput
            formControlName="dob"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
          <mat-error *ngIf="dob?.errors?.matDatepickerParse">
            {{ "PIF_ERROR_INVALID_DATE" | translate }}
          </mat-error>
          <mat-error *ngIf="dob?.errors?.required">
            {{ "THIS_FIELD_IS_REQUIRED" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "TRAVEL_DOCUMENT_NUMBER" | translate }}</mat-label>
          <input type="text" matInput formControlName="id" />
          <mat-error *ngIf="id?.errors?.required">
            {{ "THIS_FIELD_IS_REQUIRED" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "PASSWORD" | translate }}</mat-label>
          <input type="password" matInput formControlName="password" required />
          <mat-error *ngIf="password?.errors?.required">
            {{ "THIS_FIELD_IS_REQUIRED" | translate }}
          </mat-error>
          <mat-error *ngIf="password?.errors?.minlength">
            {{ "MIN_LENGTH_8_CHAR" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "PASSWORD_CONFIRM" | translate }}</mat-label>
          <input
            type="password"
            matInput
            formControlName="passwordConfirm"
            required
            [errorStateMatcher]="errorMatcher"
          />
          <mat-error *ngIf="userRegistrationForm.errors?.passwordMismatch">
            {{ "PASSWORDS_DO_NOT_MATCH" | translate }}
          </mat-error>
          <mat-error *ngIf="passwordConfirm?.errors?.required">
            {{ "THIS_FIELD_IS_REQUIRED" | translate }}
          </mat-error>
          <mat-error *ngIf="passwordConfirm?.errors?.minlength">
            {{ "MIN_LENGTH_8_CHAR" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="loading"
          class="progress-bar"
        ></mat-progress-bar>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!userRegistrationForm.valid || loading"
        >
          {{ "SEND" | translate }}
        </button>
      </form>
      <div class="navigation-links">
        <a routerLink="/login">{{ "LOGIN" | translate }}</a> /
        <a routerLink="/privacy-policy">{{ "PRIVACY_POLICY" | translate }}</a>
      </div></mat-card-content
    ></mat-card
  >
</div>
