<div id="payment-upload-proof">
  <ng-container *ngIf="!success; else done">
    <div id="file-upload-wrapper">
      <input
        type="file"
        id="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
      />
      <div id="file-preview-container" class="mat-elevation-z2">
        <ng-container *ngIf="file; else noFile">
          <img
            id="image-preview"
            class="mat-elevation-z8"
            [src]="imgSrc || '../assets/img/placeholder.png'"
            [alt]="file.name"
          />
          <div id="uploading-message" *ngIf="uploadSub">
            {{ "UPLOADING" | translate }}...
          </div>
        </ng-container>
        <ng-template #noFile>
          <div id="no-file-message">
            {{ "PAYMENT_INSTRUCTIONS_3" | translate }}
          </div>
        </ng-template>
      </div>
      <ng-container *ngIf="file; else selectFile">
        <ng-container *ngIf="uploadSub; else uploadPrompt">
          <div id="progress">
            <mat-progress-bar
              class="progress-bar"
              [mode]="uploadProgress ? 'determinate' : 'indeterminate'"
              [value]="uploadProgress"
            >
            </mat-progress-bar>
          </div>
        </ng-container>
        <ng-template #uploadPrompt>
          <button
            mat-raised-button
            color="primary"
            (click)="uploadFile()"
            class="primary-action-button"
          >
            <mat-icon>upload</mat-icon> {{ "UPLOAD" | translate }}
          </button>
        </ng-template>
      </ng-container>
      <ng-template #selectFile>
        <button
          mat-raised-button
          color="primary"
          (click)="fileUpload.click()"
          class="primary-action-button"
        >
          <mat-icon>attach_file</mat-icon>
          {{ "SELECT_IMAGE_PROMPT" | translate }}
        </button></ng-template
      >
    </div>
  </ng-container>
  <ng-template #done>
    <h1>{{ "PAYMENT_INSTRUCTIONS_3_SUCCESS" | translate }}</h1>
    <div id="payment-upload-done-message-prompt-wrapper">
      <div id="payment-upload-done-message-prompt">
        <h2>{{ "SUCCESS" | translate }}!</h2>
        <div>{{ "PROOF_OF_PAYMENT_UPLOADED" | translate }}</div>
        <div>{{ "SCROLL_TO_BOTTOM_CLICK_SUBMIT" | translate }}</div>
      </div>
    </div>
  </ng-template>
</div>
