<div id="payment-upload-proof">
  @if (!success) {
    <div id="file-upload-wrapper">
      <input
        type="file"
        id="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
        />
      <div id="file-preview-container" class="mat-elevation-z2">
        @if (file) {
          <img
            id="image-preview"
            class="mat-elevation-z8"
            [src]="imgSrc || '../assets/img/placeholder.png'"
            [alt]="file.name"
            />
          @if (uploadSub) {
            <div id="uploading-message">
              {{ "UPLOADING" | translate }}...
            </div>
          }
        } @else {
          <div id="no-file-message">
            <mat-icon id="no-file-download-icon">download</mat-icon>
            <div id="no-file-prompt-container">
              {{ "PAYMENT_INSTRUCTIONS_3" | translate }}
            </div>
            <button
              mat-raised-button
              color="primary"
              (click)="fileUpload.click()"
              class="primary-action-button"
              id="no-file-select-file-btn"
              >
              <mat-icon>attach_file</mat-icon>
              {{ "SELECT_IMAGE_PROMPT" | translate }}
            </button>
          </div>
        }
      </div>
      @if (file) {
        @if (uploadSub) {
          <div id="progress">
            <mat-progress-bar
              class="progress-bar"
              [mode]="uploadProgress ? 'determinate' : 'indeterminate'"
              [value]="uploadProgress"
              >
            </mat-progress-bar>
          </div>
        } @else {
          <button
            mat-raised-button
            color="primary"
            (click)="uploadFile()"
            class="primary-action-button"
            >
            <mat-icon>upload</mat-icon> {{ "UPLOAD" | translate }}
          </button>
        }
      }
    </div>
  }
</div>
