<div id="payment-upload-proof">
  <h1>{{ "PAYMENT_INSTRUCTIONS_3" | translate }}</h1>
  <div id="file-upload-wrapper">
    <input
      type="file"
      id="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <div id="file-preview-container" class="mat-elevation-z2">
      <ng-container *ngIf="success; else imagePreview">
        <h2>{{ "SUCCESS" | translate }}!</h2>
        <div>{{ "PROOF_OF_PAYMENT_UPLOADED" | translate }}</div>
      </ng-container>
      <ng-template #imagePreview>
        <ng-container *ngIf="file; else noFile">
          <img
            id="image-preview"
            class="mat-elevation-z8"
            [src]="imgSrc || '../assets/img/placeholder.png'"
            [alt]="file.name"
          />
          <div id="uploading-message" *ngIf="uploadProgress">
            {{ "UPLOADING" | translate }}...
          </div>
        </ng-container>
        <ng-template #noFile>
          <div id="no-file-message">{{ "NO_IMAGE_SELECTED" | translate }}</div>
        </ng-template>
      </ng-template>
    </div>
    <ng-container *ngIf="!success">
      <ng-container *ngIf="file; else selectFile">
        <ng-container *ngIf="uploadProgress; else uploadPrompt">
          <div id="progress">
            <mat-progress-bar
              class="progress-bar"
              mode="determinate"
              [value]="uploadProgress"
            >
            </mat-progress-bar>
          </div>
        </ng-container>
        <ng-template #uploadPrompt>
          <button
            mat-raised-button
            color="primary"
            (click)="uploadFile()"
            class="primary-action-button"
          >
            <mat-icon>upload</mat-icon> {{ "UPLOAD" | translate }}
          </button>
        </ng-template>
      </ng-container>
      <ng-template #selectFile>
        <button
          mat-raised-button
          color="primary"
          (click)="fileUpload.click()"
          class="primary-action-button"
        >
          <mat-icon>attach_file</mat-icon>
          {{ "SELECT_IMAGE_PROMPT" | translate }}
        </button></ng-template
      >
    </ng-container>
  </div>
</div>
