.no-items {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  mat-icon {
    margin-right: 8px;
  }
}

.feedback-list {
  padding-left: 0;
  list-style: none;
}

app-loading-spinner-content {
  position: fixed;
  top: 64px;
  bottom: 0;
  right: 0;
  left: 0;

  @media screen and (min-width: 960px) {
    left: 320px;
  }
}
