.charts-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 16px 0 8px;
}

.chart-container {
  box-sizing: border-box;
  overflow: hidden;
  padding: 16px;
  width: 80%;
  @media screen and (min-width: 1200px) {
    width: 50%;
  }
  @media screen and (min-width: 1900px) {
    width: calc(100% / 3);
  }
}

.no-items {
  height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  mat-icon {
    margin-right: 8px;
  }
}

.question-container {
  margin: 16px 16px 32px 16px;
}

app-loading-spinner-content {
  position: fixed;
  top: 64px;
  bottom: 0;
  right: 0;
  left: 0;

  @media screen and (min-width: 960px) {
    left: 320px;
  }
}
