<div id="home-slides-container">
  <div *ngFor="let card of cards; index as i" class="home-presentation-card">
    <mat-card appearance="outlined">
      <img mat-card-image [src]="url + card.image" [alt]="card.image" />
      <mat-card-header
        ><mat-card-title>{{
          card.title | translate
        }}</mat-card-title></mat-card-header
      >
      <mat-card-content
        class="card-content"
        [innerHTML]="card.content | translate | markdown | async"
      >
      </mat-card-content>
    </mat-card>
  </div>
</div>
