<ng-container *ngIf="tripSwitcher.trips$ | async as trips; else loading">
  <div class="app-page-wrapper">
    <div class="app-content-wrapper">
      <div id="trip-switcher" class="material-typography">
        <h1>{{ "SWITCH_TRIP" | translate }}</h1>
        <ng-container *ngFor="let trip of trips">
          <div>
            {{ trip.id }} - {{ trip.nameEn }} - - {{ trip.nameZh }}
          </div></ng-container
        >
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <app-loading-spinner-content></app-loading-spinner-content>
</ng-template>
