@if (tripSwitcher.trips$ | async; as trips) {
  <div class="app-page-wrapper">
    <div class="app-content-wrapper">
      <div id="trip-switcher" class="mat-typography">
        <h1>{{ 'SWITCH_TRIP' | translate }}</h1>
        @if (tripSwitcher.selectedTrip$ | async; as selectedTrip) {
          <div id="selected-trip-wrapper">
            <header>{{ 'SELECTED' | translate }}</header>
            <div [innerText]="selectedTrip.getName(lang)"></div>
          </div>
        } @else {
          <div id="no-trip-selected-wrapper">
            <h2>{{ 'NO_TRIP_SELECTED' | translate }}</h2>
            <div>{{ 'SELECT_ONE_BELOW' | translate }}</div>
          </div>
        }
        <div id="trip-list-wrapper">
          @for (trip of trips; track trip) {
            <div
              matRipple
              class="trip-item-wrapper"
              (click)="tripSwitcher.selectTrip(trip.id)"
              [innerText]="trip.getName(lang)"
            ></div>
          }
        </div>
      </div>
    </div>
  </div>
} @else {
  <app-loading-spinner-content></app-loading-spinner-content>
}
