#payment-take-screenshot {
  margin: 16px;
  #screenshot-image-wrapper {
    display: flex;
    justify-content: center;
    mat-icon {
      font-size: 200px;
    }
    #example-payment-proof {
      margin: 8px;
    }
  }
}
