<ng-container *ngIf="paymentService.getPaymentInfo()?.open; else closed">
  <div class="app-page-wrapper">
    <div class="app-content-wrapper mat-typography">
      <app-payment-instructions></app-payment-instructions>
      <app-payment-qr-codes></app-payment-qr-codes>
      <app-payment-upload-proof></app-payment-upload-proof>
      <app-payment-uploaded></app-payment-uploaded>
    </div>
  </div>
</ng-container>
<ng-template #closed>
  <app-payment-closed></app-payment-closed>
</ng-template>
