#personal-info-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  padding: 16px 16px 16px 16px;

  /** Angular media queries have an error here */
  @media screen and (min-width: 600px) and (max-width: 628px) {
    left: 320px;
  }
  @media screen and (min-width: 960px) {
    left: 320px;
  }
  @media screen and (min-width: 1200px) {
    padding: 16px 320px 10% 16px;
  }
}

form#personal-info-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  mat-form-field {
    margin: 8px 0;
    width: 100%;
  }

  .progress-bar {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 700px) {
    width: 90%;
  }
  @media screen and (min-width: 900px) {
    width: 80%;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
  @media screen and (min-width: 1300px) {
    width: 90%;
  }
  @media screen and (min-width: 1400px) {
    width: 80%;
  }
  @media screen and (min-width: 1500px) {
    width: 70%;
  }
  @media screen and (min-width: 1700px) {
    width: 60%;
  }
  @media screen and (min-width: 1900px) {
    width: 50%;
  }
}
