#personal-info-form-container {
  box-sizing: border-box;
  padding: 16px 16px 16px 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

form#personal-info-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 20vh;

  mat-form-field {
    margin: 8px 0;
    width: 100%;
  }

  .progress-bar {
    margin-bottom: 16px;
  }

  button#submit-personal-info {
    margin-top: 16px;
  }

  @media screen and (min-width: 700px) {
    width: 90%;
  }
  @media screen and (min-width: 900px) {
    width: 80%;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
  @media screen and (min-width: 1300px) {
    width: 90%;
  }
  @media screen and (min-width: 1400px) {
    width: 80%;
  }
  @media screen and (min-width: 1500px) {
    width: 70%;
  }
  @media screen and (min-width: 1700px) {
    width: 60%;
  }
  @media screen and (min-width: 1900px) {
    width: 50%;
  }
}
