<ng-container *ngIf="needsLogin; else app">
  <app-login-required-message></app-login-required-message>
</ng-container>
<ng-template #app>
  <ng-container
    *ngIf="studentService.student$ | async as student; else loading"
  >
    <div class="app-page-wrapper mat-typography">
      <div class="app-content-wrapper">
        <div id="personal-info-form-container" *ngIf="personalInfoForm">
          <form
            [formGroup]="personalInfoForm"
            (ngSubmit)="submitPersonalInfoForm()"
            id="personal-info-form"
          >
            <!-- START Personal information section -->
            <h2>{{ "PERSONAL_INFORMATION" | translate }}</h2>
            <div id="required-fields-prompt">
              <p [innerHtml]="'REQUIRED_FIELDS_PROMPT' | translate"></p>
              <p [innerHtml]="'SCROLL_TO_BOTTOM_CLICK_UPDATE' | translate"></p>
            </div>
            <div
              *ngIf="namePromptContent$ | async as content"
              class="inner-form-prompt"
              [innerHTML]="
                (lang === 'zh' ? content.text_zh : content.text) | markdown
              "
            ></div>
            <mat-form-field appearance="outline">
              <mat-label>{{ student.getAttributeLabel("name") }}</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error *ngIf="name?.errors?.required">
                {{ "THIS_FIELD_IS_REQUIRED" | translate }}
              </mat-error>
            </mat-form-field>
            <div
              *ngIf="englishNamePromptContent$ | async as englishName"
              class="inner-form-prompt"
              [innerHTML]="
                (lang === 'zh' ? englishName.text_zh : englishName.text)
                  | markdown
              "
            ></div>
            <mat-form-field appearance="outline">
              <mat-label>{{
                student.getAttributeLabel("englishName")
              }}</mat-label>
              <input type="text" matInput formControlName="englishName" />
            </mat-form-field>
            <div
              class="inner-form-prompt"
              [innerHTML]="'PIF_HINT_CITIZENSHIP' | translate"
            ></div>
            <mat-form-field appearance="outline">
              <mat-label>{{
                student.getAttributeLabel("citizenship")
              }}</mat-label>
              <input type="text" matInput formControlName="citizenship" />
              <mat-error *ngIf="citizenship?.errors?.required">
                {{ "THIS_FIELD_IS_REQUIRED" | translate }}
              </mat-error>
            </mat-form-field>
            <div
              class="inner-form-prompt"
              [innerHTML]="'PIF_HINT_TRAVEL_DOCUMENT' | translate"
            ></div>
            <mat-form-field appearance="outline">
              <mat-label>{{
                student.getAttributeLabel("travelDocument")
              }}</mat-label>
              <input type="text" matInput formControlName="travelDocument" />
              <mat-error *ngIf="travelDocument?.errors?.required">
                {{ "THIS_FIELD_IS_REQUIRED" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{ student.getAttributeLabel("gender") }}</mat-label>
              <mat-select
                formControlName="gender"
                [compareWith]="intValueCompare"
              >
                <mat-option value="" *ngIf="gender?.value === null">
                  <!-- Acts as a placeholder when gender is null -->
                  {{ "SELECT_GENDER" | translate }}</mat-option
                >
                <mat-option *ngFor="let i of [0, 1, 2, 3]" [value]="i">
                  {{ "G." + i | translate }}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="gender?.errors?.required">
                {{ "THIS_FIELD_IS_REQUIRED" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{ student.getAttributeLabel("dob") }}</mat-label>
              <input
                type="text"
                matInput
                formControlName="dob"
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
              <mat-error *ngIf="dob?.errors?.matDatepickerParse">
                {{ "PIF_ERROR_INVALID_DATE" | translate }}
              </mat-error>
              <mat-error *ngIf="dob?.errors?.required">
                {{ "THIS_FIELD_IS_REQUIRED" | translate }}
              </mat-error>
            </mat-form-field>
            <!-- END Personal information section -->

            <!-- START Legal information section -->
            <h2>{{ "LEGAL" | translate }}</h2>
            <mat-form-field
              appearance="outline"
              *ngIf="auth.getCredentials()?.type !== 4"
            >
              <mat-label>{{
                student.getAttributeLabel("guardianName")
              }}</mat-label>
              <input type="text" matInput formControlName="guardianName" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{
                student.getAttributeLabel("emergencyContact")
              }}</mat-label>
              <input type="text" matInput formControlName="emergencyContact" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{ student.getAttributeLabel("wechatId") }}</mat-label>
              <input type="text" matInput formControlName="wechatId" />
            </mat-form-field>
            <h2>{{ "DIETARY_REQUIREMENTS" | translate }}</h2>
            <p class="form-field-extra-hint">
              {{ "PIF_HINT_DIETARY" | translate }}
            </p>
            <mat-form-field appearance="outline">
              <mat-label>{{
                student.getAttributeLabel("dietaryRequirements")
              }}</mat-label>
              <mat-select
                formControlName="dietaryRequirements"
                [compareWith]="intValueCompare"
              >
                <mat-option *ngFor="let i of [0, 2, 3, 4, 5, 1]" [value]="i">
                  {{ "DR." + i | translate }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <ng-container
              *ngIf="
                personalInfoForm.value.dietaryRequirements &&
                personalInfoForm.value.dietaryRequirements === 1
              "
            >
              <mat-form-field appearance="outline">
                <mat-label>{{
                  student.getAttributeLabel("dietaryRequirementsOther")
                }}</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="dietaryRequirementsOther"
                />
              </mat-form-field>
            </ng-container>
            <!-- END Dietary requirements section -->

            <!-- START Medical information section -->
            <h2>{{ "MEDICAL_INFORMATION" | translate }}</h2>
            <p class="form-field-extra-hint">
              {{ "PIF_HINT_ALLERGIES" | translate }}
            </p>
            <mat-form-field appearance="outline">
              <mat-label>{{
                student.getAttributeLabel("allergies")
              }}</mat-label>
              <mat-select
                formControlName="allergies"
                [compareWith]="intValueCompare"
              >
                <mat-option *ngFor="let i of [0, 2, 3, 1]" [value]="i">
                  {{ "ALLER." + i | translate }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <ng-container
              *ngIf="
                personalInfoForm.value.allergies &&
                personalInfoForm.value.allergies === 1
              "
            >
              <mat-form-field appearance="outline">
                <mat-label>{{
                  student.getAttributeLabel("allergiesOther")
                }}</mat-label>
                <input type="text" matInput formControlName="allergiesOther" />
              </mat-form-field>
            </ng-container>
            <p class="form-field-extra-hint">
              {{ "PIF_HINT_MEDICAL" | translate }}
            </p>
            <mat-form-field appearance="outline">
              <mat-label>{{
                student.getAttributeLabel("medicalInformation")
              }}</mat-label>
              <textarea
                type="text"
                matInput
                formControlName="medicalInformation"
              ></textarea>
            </mat-form-field>
            <!-- END Medical information section -->
            <!-- START School information section, wait until we have school info -->
            <ng-container *ngIf="schoolService.school$ | async as school">
              <!-- Only display this section to students and only when the school requires it -->
              <ng-container
                *ngIf="
                  auth.getCredentials()?.type === 6 &&
                  (school.useHouse || school.useRoomNumber)
                "
              >
                <h2>{{ "SCHOOL_INFORMATION" | translate }}</h2>
                <mat-form-field appearance="outline" *ngIf="school.useHouse">
                  <mat-label>{{
                    student.getAttributeLabel("house")
                  }}</mat-label>
                  <input type="text" matInput formControlName="house" />
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  *ngIf="school.useRoomNumber"
                >
                  <mat-label>{{
                    student.getAttributeLabel("roomNumber")
                  }}</mat-label>
                  <input type="text" matInput formControlName="roomNumber" />
                </mat-form-field>
              </ng-container>
            </ng-container>
            <!-- END School information section -->
            <button
              id="submit-personal-info"
              mat-raised-button
              color="primary"
              [disabled]="!personalInfoForm.valid"
            >
              {{ "UPDATE" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-loading-spinner-content></app-loading-spinner-content>
  </ng-template>
</ng-template>
