@use "../../../../sass/mixins" as mixins;

#id-photo-component {
  margin: 16px 0 24px 0;
  #file-upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    #file-input {
      display: none;
    }
    #file-preview-container {
      position: relative;
      margin: 8px;
      // height: 20vh;
      @include mixins.active-elements-width;
      background-color: white;
      border-radius: 16px;
      border: #b31414 5px dashed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      img#image-preview {
        max-height: 90%;
        max-width: 90%;
      }
      div#uploading-message {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #eee;
      }
      #no-file-message {
        text-align: center;
        padding: 8px;
        #no-file-download-icon,
        #no-file-select-file-btn {
          margin: 24px 0;
        }
        #no-file-download-icon {
          transform: scale(2);
          color: rgb(77, 87, 111);
        }
      }
    }
    #progress,
    .primary-action-button {
      @include mixins.active-elements-width;
    }
  }
}
