<!-- https://material.angular.io/components/table/overview -->
<ng-container *ngIf="participant$ | async as participants; else loading">
  <div id="participants-table-container">
    <table
      id="participants-table"
      mat-table
      [dataSource]="participants"
      class="mat-elevation-z8"
    >
      <ng-container *ngFor="let attr of displayedColumns" [matColumnDef]="attr">
        <th mat-header-cell *matHeaderCellDef>
          {{ attr | camelToSnake | translate }}
        </th>
        <td mat-cell *matCellDef="let student">
          <ng-container [ngSwitch]="getAttrType(attr)">
            <span
              *ngSwitchCase="'inline'"
              (click)="handleClick(student)"
              (focusout)="handleFocusOut($event, attr, student)"
              (focusin)="handleFocusIn($event, attr, student)"
              contenteditable="true"
            >
              {{ student.getParticipantTableDisplayValue(attr) }}
            </span>
            <mat-form-field *ngSwitchCase="'gender'">
              <mat-select
                [(value)]="student.gender"
                (focusin)="handleFocusIn($event, attr, student)"
                (focusout)="handleSelectFocusOut($event, attr, student)"
                [compareWith]="intValueCompare"
              >
                <mat-option *ngFor="let i of [0, 1, 2, 3]" [value]="i">
                  {{ "G." + i | translate }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'dietaryRequirements'">
              <mat-select
                [(value)]="student.dietaryRequirements"
                (focusin)="handleFocusIn($event, attr, student)"
                (focusout)="handleSelectFocusOut($event, attr, student)"
                [compareWith]="intValueCompare"
              >
                <mat-option *ngFor="let i of [0, 2, 3, 4, 5, 1]" [value]="i">
                  {{ "DR." + i | translate }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'allergies'">
              <mat-select
                [(value)]="student.allergies"
                (focusin)="handleFocusIn($event, attr, student)"
                (focusout)="handleSelectFocusOut($event, attr, student)"
                [compareWith]="intValueCompare"
              >
                <mat-option *ngFor="let i of [0, 2, 3, 1]" [value]="i">
                  {{ "ALLER." + i | translate }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <ng-container *ngSwitchDefault>
              {{ student.getParticipantTableDisplayValue(attr) }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; let even = even; columns: displayedColumns"
        [ngClass]="{ gray: even }"
      ></tr>
    </table>
  </div>
</ng-container>
<ng-template #loading>
  <app-loading-spinner-content></app-loading-spinner-content>
</ng-template>
