<!-- https://material.angular.io/components/table/overview -->
@if (participantService.participants() !== null) {
  <div id="participants-table-container">
    <app-admin-banner></app-admin-banner>
    <table
      id="participants-table"
      mat-table
      matSort
      (matSortChange)="sortData($event)"
      [dataSource]="participantService.participants()!"
      class="mat-elevation-z8"
    >
      <!-- Index column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
      </ng-container>
      @for (attr of displayedColumns; track attr) {
        <ng-container [matColumnDef]="attr">
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="attr"
            [disabled]="!sortableColumns.includes(attr)"
          >
            {{ attr | camelToSnake | translate }}
          </th>
          <td mat-cell *matCellDef="let student">
            @switch (getAttrType(attr)) {
              @case ("inline") {
                <div
                  (focusout)="handleFocusOut($event, attr, student)"
                  contenteditable="true"
                >
                  {{ student.getParticipantTableDisplayValue(attr) }}
                </div>
              }
              @case ("paid") {
                @if (student.paid) {
                  <mat-icon color="primary" class="icon-container-cell"
                    >done</mat-icon
                  >
                } @else {
                  <mat-icon color="error" class="icon-container-cell">
                    clear
                  </mat-icon>
                }
              }
              @case ("paymentVerified") {
                @if (student.paymentVerified) {
                  <mat-icon color="primary" class="icon-container-cell"
                    >done</mat-icon
                  >
                } @else {
                  <mat-icon color="error" class="icon-container-cell">
                    clear
                  </mat-icon>
                }
              }
              @case ("gender") {
                <mat-form-field>
                  <mat-select
                    [(value)]="student.gender"
                    (focusout)="handleSelectFocusOut($event, attr, student)"
                    [compareWith]="intValueCompare"
                  >
                    @for (i of [0, 1, 2, 3]; track i) {
                      <mat-option [value]="i">
                        {{ "G." + i | translate }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @case ("dietaryRequirements") {
                <mat-form-field>
                  <mat-select
                    [(value)]="student.dietaryRequirements"
                    (focusout)="handleSelectFocusOut($event, attr, student)"
                    [compareWith]="intValueCompare"
                  >
                    @for (i of [0, 2, 3, 4, 5, 1]; track i) {
                      <mat-option [value]="i">
                        {{ "DR." + i | translate }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @case ("allergies") {
                <mat-form-field>
                  <mat-select
                    [(value)]="student.allergies"
                    (focusout)="handleSelectFocusOut($event, attr, student)"
                    [compareWith]="intValueCompare"
                  >
                    @for (i of [0, 2, 3, 1]; track i) {
                      <mat-option [value]="i">
                        {{ "ALLER." + i | translate }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
              @case ("dob") {
                <mat-form-field>
                  <input
                    [value]="student.dob"
                    (dateChange)="handleDobChange($event, student)"
                    type="text"
                    matInput
                    [matDatepicker]="picker"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
              }
              @case ("delete") {
                <button
                  mat-icon-button
                  color="warn"
                  aria-label="Delete this participant"
                  (click)="showDeleteConfirm(student)"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              }
              @default {
                {{ student.getParticipantTableDisplayValue(attr) }}
              }
            }
          </td>
        </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="allColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; let even = even; columns: allColumns"
        [ngClass]="{ gray: even }"
      ></tr>
    </table>
    <button
      id="add-participant-button"
      mat-fab
      color="primary"
      [title]="'ADD_PARTICIPANT' | translate"
      aria-label="Add participant button"
      (click)="addParticipant()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
} @else {
  <app-loading-spinner-content></app-loading-spinner-content>
}
