.faqs-list {
  padding-left: 0;
  list-style: none;
}

.faq-item {
  margin: 16px;
  .question-container {
    font-weight: bold;
    margin-bottom: 8px;
  }
}

app-loading-spinner-content {
  position: fixed;
  top: 64px;
  bottom: 0;
  right: 0;
  left: 0;

  @media screen and (min-width: 960px) {
    left: 320px;
  }
}
