.faqs-list {
  padding-left: 0;
  list-style: none;
}

.faq-item {
  margin: 16px;
  .question-container {
    font-weight: bold;
    margin-bottom: 8px;
  }
}

#send-faq-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
