<h1 mat-dialog-title>
  {{ "SEND_QUESTION" | translate }}
</h1>
<div mat-dialog-content>
  <p>{{ "SEND_A_NEW_QUESTION" | translate }}</p>
  <form (ngSubmit)="send()" id="send-qa-form">
    <mat-form-field appearance="outline">
      <mat-label>{{ "QUESTION" | translate }}</mat-label>
      <textarea
        type="text"
        matInput
        [(ngModel)]="question"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">
    {{ "CANCEL" | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="send()">
    {{ "SEND" | translate }}
  </button>
</div>
