<mat-tab-group dynamicHeight class="mat-typography">
  <mat-tab>

    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" color="primary">check_circle_outline</mat-icon>
      {{ 'BRING' | translate }}
    </ng-template>

    <div class="tab-content">

      <header
        class="pli-header"
        [innerHtml]="'PACKING_LIST_HEADER' | translate | markdown">
      </header>

      <ul class="pli-list">
        <li *ngFor="let item of itemsBring" class="pli-item">
          <app-packing-list-item [pli]="item"></app-packing-list-item>
        </li>
      </ul>

    </div>

  </mat-tab>

  <mat-tab>

    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" color="accent">help_outline</mat-icon>
      {{ 'OPTIONAL' | translate }}
    </ng-template>

    <div class="tab-content">

      <header
        class="pli-header"
        [innerHtml]="'PACKING_LIST_HEADER_OPTIONAL' | translate | markdown">
      </header>

      <ul class="pli-list">
        <li *ngFor="let item of itemsOptional">
          <app-packing-list-item [pli]="item"></app-packing-list-item>
        </li>
      </ul>

    </div>

  </mat-tab>

  <mat-tab>

    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" color="warn">highlight_off</mat-icon>
      {{ 'DO_NOT_BRING' | translate }}
    </ng-template>

    <div class="tab-content">

      <header
        class="pli-header"
        [innerHtml]="'PACKING_LIST_HEADER_DO_NOT_BRING' | translate | markdown">
      </header>

      <ul class="pli-list">
        <li *ngFor="let item of itemsDoNotBring">
          <app-packing-list-item [pli]="item"></app-packing-list-item>
        </li>
      </ul>

    </div>

  </mat-tab>
</mat-tab-group>

