/* Component has ViewEncapsulation.None to access .mat-tab-label-active,
 * styles should be placed inside a page element selector
 */
#pl-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #eee;

  #pl-container {
    max-width: 100%;
  }

  .tab-icon {
    margin-right: 8px;
  }
  .tab-content {
    padding: 16px;
  }
  .pli-list {
    padding-left: 0;
    padding-bottom: 50vh;
    list-style: none;
  }
  .pli-item {
    margin: 32px 0;
  }
  .mat-tab-label-active {
    background-color: #efefef;
  }
}
