@if (needsLogin) {
  <app-login-required-message></app-login-required-message>
} @else {
  @if (!fetching) {
    <div class="app-page-wrapper">
      <div class="app-content-wrapper" id="packing-list-outer-wrapper">
        <app-admin-banner></app-admin-banner>
        <div id="pl-wrapper">
          <div id="pl-container">
            <mat-tab-group dynamicHeight class="mat-typography">
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="tab-icon" color="primary"
                    >check_circle_outline</mat-icon
                    >
                    {{ "BRING" | translate }}
                  </ng-template>
                  <div class="tab-content">
                    <header
                      class="pli-header"
                    [innerHtml]="
                      'PACKING_LIST_HEADER' | translate | markdown | async
                    "
                    ></header>
                    <ul class="pli-list">
                      @for (item of itemsBring; track item) {
                        <li class="pli-item">
                          <app-packing-list-item
                            [pli]="item"
                          ></app-packing-list-item>
                        </li>
                      }
                    </ul>
                  </div>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="tab-icon" color="accent"
                      >help_outline</mat-icon
                      >
                      {{ "OPTIONAL" | translate }}
                    </ng-template>
                    <div class="tab-content">
                      <header
                        class="pli-header"
                    [innerHtml]="
                      'PACKING_LIST_HEADER_OPTIONAL'
                        | translate
                        | markdown
                        | async
                    "
                      ></header>
                      <ul class="pli-list">
                        @for (item of itemsOptional; track item) {
                          <li>
                            <app-packing-list-item
                              [pli]="item"
                            ></app-packing-list-item>
                          </li>
                        }
                      </ul>
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="tab-icon" color="warn"
                        >highlight_off</mat-icon
                        >
                        {{ "DO_NOT_BRING" | translate }}
                      </ng-template>
                      <div class="tab-content">
                        <header
                          class="pli-header"
                    [innerHtml]="
                      'PACKING_LIST_HEADER_DO_NOT_BRING'
                        | translate
                        | markdown
                        | async
                    "
                        ></header>
                        <ul class="pli-list">
                          @for (item of itemsDoNotBring; track item) {
                            <li>
                              <app-packing-list-item
                                [pli]="item"
                              ></app-packing-list-item>
                            </li>
                          }
                        </ul>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
            </div>
          </div>
        } @else {
          <app-loading-spinner-content></app-loading-spinner-content>
        }
      }
