.tab-icon {
  margin-right: 8px;
}

.tab-content {
  padding: 16px;
}

.pli-list {
  padding-left: 0;
  list-style: none;
}

.pli-item {
  margin: 16px 0;
}

app-loading-spinner-content {
  position: fixed;
  top: 64px;
  bottom: 0;
  right: 0;
  left: 0;

  @media screen and (min-width: 960px) {
    left: 320px;
  }
}
