.documents-list {
  padding-left: 0;
  list-style: none;
  a.document-item-wrapper {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
}

.document-item {
  margin: 0 16px;
  display: flex;
  align-items: center;
}

.icon-container {
  margin-right: 8px;
  flex: 0 0 72px;
  overflow: hidden;
  img {
    width: 60px;
    height: 60px;
    margin: auto;
  }
}

.file-details {
  flex: 1 1 auto;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.file-name {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}
